.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__container {
  display: flex;
}

.header__nav {
  display: flex;
  margin-left: auto;
}

.header__nav-container {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  align-items: center;
}

.header__sign-btn {
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}

.header__date-and-location {
  margin: 10px 0 0 0;
  width: 160px;
  height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 22px;
}

.header__user-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 50%;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
