.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__user-info {
  display: flex;
}

.sidebar__image {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  padding-left: 16px;
}
